@import "tailwindcss";

/* Define your assignment colors here using v4 CSS variables */
@theme {
  --color-primary: #4F46E5;
  --color-secondary: #1E1B4B;
}

@layer utilities {
  /* Design for the entire scrollbar space */
  .scrollbar-thin::-webkit-scrollbar {
    width: 6px; /* Vertical scrollbar width */
    height: 6px; /* Horizontal scrollbar height */
  }

  /* Design for the draggable handle */
  .scrollbar-thumb::-webkit-scrollbar-thumb {
    background-color: #dedfe3; /* Matches your border color */
    border-radius: 20px;
  }

  /* Design for the handle on hover */
  .scrollbar-thumb:hover::-webkit-scrollbar-thumb {
    background-color: #bbbcbf; /* Darker on hover */
  }

  /* Design for the track (background) */
  .scrollbar-track::-webkit-scrollbar-track {
    background: transparent;
  }
}